* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #050a30;
    color: #ffffff;
  }
  
  .header {
    text-align: center;
    padding: 1px;
    background-color: #0a0a23;
    color: #ffffff;
    font-size: 10px;
    
  }
#navicon{
    display: block;
    aspect-ratio: 100;
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
}
.level {
    text-align: center;
    

}

.level p{
    border-radius: 9px;
    background-color: #30334d;
    padding: 50px;
    margin: 50px 75px;
    font-size: 20px;
}
.igcsesubjects p{

    box-sizing: content-box;
    border-radius: 9px;
    background-color: #30334d;
    font-size: 20px;
    width: 200px;
    height: 120px;
    padding: 5px;
    border: 0px;
    margin: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

p:hover {
    background-color: #5f648f;
}
  
.igcsesubjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}