* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #050a30;
    color: #ffffff;
  }
  
  .header {
    text-align: center;
    padding: 1px;
    background-color: #0a0a23;
    color: #ffffff;
    font-size: 10px;
  }

.level {
    text-align: center;
    

}

.level p{
    border-radius: 9px;
    background-color: #30334d;
    padding: 50px;
    margin: 50px 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

p:hover {
    background-color: #5f648f;
}
  
.igscesubjects{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.igscesubjects p{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 9px;
    background-color: #30334d;
    font-size: 20px;
}