* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #050a30;
    color: #ffffff;
  }
  
  .header {
    text-align: center;
    padding: 1px;
    background-color: #0a0a23;
    color: #ffffff;
    font-size: 10px;
  }

.level {
    text-align: center;
    

}

.level p{
    border-radius: 9px;
    background-color: #30334d;
    padding: 50px;
    margin: 50px 75px;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #5f648f;
  }
  

.igscesubjects p{
    border-radius: 9px;
    background-color: #30334d;
    padding: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}