<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://www.pngkey.com/png/full/245-2454570_garden-international-school-garden-international-school-logo.png" type="image/png">
        <title>Resource Hub</title>
    </head>
    <body>
        <header class="header">
            <h1>GIS Resource Hub</h1>
        </header>
        <div class="igcsesubjects">
            <p>Accounting</p>
            <p>Art</p>
            <p>Business Studies</p>
            <p>Computer Science</p>
            <p>Coordinated Science</p>
            <p>DT Graphics</p>
            <P>DT Resistant Materials</p>
            <p>Drama</p>
            <p>Economics</p>
            <p>English Language</p>
            <p>English Literature</p>
            <p>Geography</p>
            <p>History</p>
            <p>ICT</p>
            <p>Mathematics</p>
            <p>Music</p>
            <p>Photography</p>
            <p>PE</p>
            <p>Sociology</p>
            <p>Triple Science</p>
            <p></p>
        </div>
    </body>
</html>