<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://www.pngkey.com/png/full/245-2454570_garden-international-school-garden-international-school-logo.png" type="image/png">
        <title>Resource Hub</title>
    </head>
    <body>
        <header class="header">
            <h1>GIS Resource Hub</h1>
        </header>
        <div class="igcsesubjects">
            <a>Accounting</a>
            <a>Art</a>
            <a>Business Studies</a>
            <a>Computer Science</a>
            <a>Coordinated Science</a>
            <a>DT Graphics</a>
            <a>DT Resistant Materials</a>
            <a>Drama</a>
            <a>Economics</a>
            <a>English Language</a>
            <a>English Literature</a>
            <a>Geography</a>
            <a>History</a>
            <a>ICT</a>
            <a>Mathematics</a>
            <a>Music</a>
            <a>Photography</a>
            <a>PE</a>
            <a>Sociology</a>
            <a>Triple Science</a>
        </div>
    </body>
</html>
