<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://www.pngkey.com/png/full/245-2454570_garden-international-school-garden-international-school-logo.png" type="image/png">
        <title>Resource Hub</title>
    </head>
    <body>
        <header class="header">
            <img id="navicon" src="/images/navicon.png">
            <h1>GIS Resource Hub</h1>
            
        </header>
        <main>
            <section>
                <div class="level">
                    <a href="/igcse"><p>IGCSE</p></a>
                    <p>AS Level</p>
                    <p>A Level</p>
                </div>
            </section>
        </main>
    </body>
</html>
