<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">

    <title>Resource Hub</title>
</head>
<body>
    <header>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngkey.com%2Fmaxpic%2Fu2w7t4e6o0a9e6y3%2F&psig=AOvVaw0mhUUn2_4jPFumiMv-TFrO&ust=1733919228447000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCICxvM-WnYoDFQAAAAAdAAAAABAX" alt="Website Logo" id="logo">
    </header>
    <h1>Welcome to the Resource Hub!</h1>
    <a href="/add">Add a New Resource</a>
    <ul>
        {% for resource in resources %}
        <li>
            <a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a>
            <p>{{ resource.description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
